<%= form_for(current_user.relationships.build(shared_id: user.id)) do |f| %>
  <div><%= f.hidden_field :shared_id %></div>
  <%= f.submit "Share", class: "btn btn-large btn-primary share" %>
<% end %>
